---
import Section from "./Section.astro";
---

<Section title="Accesorios" subtitle="" color="black" showFooter={true}>
    <div
        slot="footer"
        class="gap-x-6 lg:flex md:flex mx-auto [&>a]:w-72 [&>a]:mb-2"
    >
        <a
            class="bg-white/70 border-none text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
            href="#"
        >
            Compra ahora
        </a>
    </div>

    <img
        class="object-center object-cover h-full w-full"
        alt="solar panels"
        src="/accesories.jpg"
        slot="background"
    />
</Section>
