---
import Section from "./Section.astro";
---

<Section
    title="Accesorios"
    subtitle=""
    color="black"
>
    <div slot="footer">
        <a
            class="bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
            href="#"
        >
            Compra ahora
        </a>
    </div>

    <img
        class="object-center object-cover h-full w-full"
        alt="solar panels"
        src="/accesories.jpg"
        slot="background"
    />
</Section>