---
import Section from "./Section.astro";
---

<Section
    title="Model Y"
    subtitle="Agenda una demostración de manejo"
    color="black"
>
    <div slot="footer" class="gap-x-6 lg:flex md:flex xl:flex 2xl:flex mx-auto [&>a]:w-72 [&>a]:mb-2">
        <a
            class="border-[3px] border-none bg-black/70 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors hover:border-gray-500 hover:bg-gray-500"
            href="#"
        >
            Explorar Inventario
        </a>
        <a
            class="bg-white/70 border-none text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
            href="#"
        >
            Orden personalizada
        </a>
    </div>

    <img
        class="object-center object-cover h-full w-full"
        alt="model y"
        src="/model-y.avif"
        slot="background"
    />
</Section>
