---
import Section from "./Section.astro";
---

<Section title="Model 3" subtitle="Explora el inventario" color="white">
    <div slot="footer">
        <a
            class="bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors hover:bg-black hover:text-white"
            href="#"
        >
            Ordenar
        </a>
        <a
            class="bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
            href="#"
        >
            Demostración de manejo
        </a>
    </div>

    <video
        slot="background"
        class="object-center object-cover h-full w-full"
        autoplay
        muted
        loop
        src="/video.mp4"
    >
    </video>
</Section>
